<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section">
      <% @document.display_note.each do |display_note| %>
        <%= render Geoblacklight::DisplayNoteComponent.new(display_note: display_note) %>
      <% end %>
      <div id="viewer-container">
        <%= render Geoblacklight::ViewerHelpTextComponent.new('viewer_protocol', @document.viewer_protocol) %>
        <%= render Geoblacklight::IndexMapLegendComponent.new(document: @document) %>
        <%= render Geoblacklight::ItemMapViewerComponent.new(document: @document) %>
        <%= render Geoblacklight::IiifDragDropComponent.new(document: @document) %>
      </div>
      <%= render Geoblacklight::AttributeTableComponent.new(document: @document) %>
      <%= render Geoblacklight::IndexMapInspectComponent.new(document: @document) %>
      <% title.with_after_title { render Geoblacklight::HeaderIconsComponent.new(document: @document) } %>
      <%= title %>
      <%= embed %>
      <%= content %>
      <%= metadata %>
      <% metadata_sections.each do |section| %>
        <%= section %>
      <% end %>

      <% partials.each do |partial| %>
        <%= partial %>
      <% end %>
    </div>

    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>
