<h3><%= t('geoblacklight.home.map_heading') %></h3>
<div id="map"
     aria-label="<%= t('geoblacklight.map.label') %>"
     data-map="home"
     data-catalog-path="<%= @catalog_path %>"
     data-map-geom="<%= @map_geometry %>"
     data-basemap="<%= @basemap %>"
     data-leaflet-options="<%= @leaflet_options %>">
</div>
