<div class="index-map-legend">
  <div class="index-map-legend-info">
    <span class="index-map-legend-default" style="background: <%= Settings.LEAFLET.LAYERS.INDEX.DEFAULT.color %>"></span>
    <p><span class="sr-only"><%= Settings.LEAFLET.LAYERS.INDEX.DEFAULT.sr_color_name %> tile indicates </span>Map held by collection</p>
  </div>
  <div class="index-map-legend-info">
    <span class="index-map-legend-unavailable" style="background: <%= Settings.LEAFLET.LAYERS.INDEX.UNAVAILABLE.color %>"></span>
    <p><span class="sr-only"><%= Settings.LEAFLET.LAYERS.INDEX.UNAVAILABLE.sr_color_name %> tile indicates </span>Map not held by collection</p>
  </div>
  <div class="index-map-legend-info">
    <span class="index-map-legend-selected" style="background: <%= Settings.LEAFLET.LAYERS.INDEX.SELECTED.color %>"></span>
    <p><span class="sr-only"><%= Settings.LEAFLET.LAYERS.INDEX.SELECTED.sr_color_name %> tile indicates </span>Selected map tile</p>
  </div>
</div>