<div class="index-map-legend pb-2">
  <div class="index-map-legend-info">
    <span class="index-map-legend-default" style="background: <%= Geoblacklight.configuration.leaflet.layers.index.default.color %>"></span>
    <p><span class="visually-hidden"><%= Geoblacklight.configuration.leaflet.layers.index.default.sr_color_name %> tile indicates </span>Map held by collection</p>
  </div>
  <div class="index-map-legend-info">
    <span class="index-map-legend-unavailable" style="background: <%= Geoblacklight.configuration.leaflet.layers.index.unavailable.color %>"></span>
    <p><span class="visually-hidden"><%= Geoblacklight.configuration.leaflet.layers.index.unavailable.sr_color_name %> tile indicates </span>Map not held by collection</p>
  </div>
  <div class="index-map-legend-info">
    <span class="index-map-legend-selected" style="background: <%= Geoblacklight.configuration.leaflet.layers.index.selected.color %>"></span>
    <p><span class="visually-hidden"><%= Geoblacklight.configuration.leaflet.layers.index.selected.sr_color_name %> tile indicates </span>Selected map tile</p>
  </div>
</div>
