<%# This template copies from Blacklight's components/document_component.html.erb 
      # for the wrapping `content_tag @component` structure
      # and adds custom layout within for the document header, status-icons and more-info areas %>

<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
    'search-results-target': 'result',
    'action': 'mouseenter->search-results#previewResultOnMap mouseleave->search-results#clearPreview'
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>

    <%= content_tag :div, class: 'documentHeader index-split row', data: { layer_id: @document.id, geom: @document.geometry.geojson } do %>
      <h3 class="index_title col">
        <span class="document-counter">
          <%= t('blacklight.search.documents.counter', :counter => @counter) if @counter %>
        </span>
        <%= helpers.link_to_document(@document, counter: @counter, itemprop: "name") %>
      </h3>

      <span class='status-icons'>
        <%= render Geoblacklight::HeaderIconsComponent.new(document: @document) %>
        <button
            class="caret-toggle btn"
            data-toggle="collapse"
            data-target="#doc-<%= @document.id %>-fields-collapse"
            aria-label="<%= t('geoblacklight.metadata.toggle_summary') %>"
            aria-expanded="false"
            aria-controls="doc-<%= @document.id %>-fields-collapse">
          </button>
      </span>
    <% end %>

    <div class='more-info-area'>
      <div id="doc-<%= @document.id %>-fields-collapse" class='collapse'>
        <small itemprop="description">
          <%=  helpers.geoblacklight_present(:index_fields_display, @document) %>
        </small>
      </div>
    </div>
  <% end %>
