<div class='form-group web-services-form'>
  <label for='<%= reference.type%>_webservice'>
    <%= "#{formatted_name_reference(reference.type)}" %>
  </label>
  <div class='input-group'>  
    <input type='text' id='<%= reference.type%>_webservice' value='<%= reference.endpoint %>' readonly='readonly' class='form-control'>
    <div class="input-group-append">
      <button button type="button" class="btn btn-primary" data-action="copyToClipboard" data-clipboard-value='<%= reference.endpoint %>'><%= t('blacklight.modal.copy') %></button>
    </div>
  </div>
</div>
