<div class='mb-3 web-services-form'>
  <label for='<%= reference.type%>_webservice'>
    <%= "#{helpers.formatted_name_reference(reference.type)}" %>
  </label>
  <div class='input-group'>  
    <input type='text' id='<%= reference.type%>_webservice' value='<%= reference.endpoint %>' class='form-control'>
    <div class="input-group-append">
      <button button type="button" class="btn btn-primary" data-action="clipboard#copyToClipboard" data-clipboard-value-param='<%= reference.endpoint %>'><%= t('blacklight.modal.copy') %></button>
    </div>
  </div>
</div>
