<%= render Geoblacklight::WebServicesDefaultComponent.new(reference:) %>
<div class="mb-3 d-flex align-items-center">
  <label for="wms_abv_webservice" class="me-2"><%= t('geoblacklight.references.wms_abv')%> <code><%= t('geoblacklight.references.wms_label')%></code></label>
  <div class='input-group'>
    <input id="wms_abv_webservice" type='text' value='<%= document.wxs_identifier %>' class="form-control">
    <div class="input-group-append">
      <button button type="button" class="btn btn-primary"  data-action="clipboard#copyToClipboard" data-clipboard-value='<%= document.wxs_identifier %>'><%= t('blacklight.modal.copy') %></button>
    </div>
  </div>
</div>
