<%= render Geoblacklight::WebServicesDefaultComponent.new(reference:) %>

<div class="form-group form-inline">
  <label for="wms_abv_webservice" class="mr-2"><%= t('geoblacklight.references.wms_abv')%> <code><%= t('geoblacklight.references.wms_label')%></code></label>
  <div class='input-group'>
    <input id="wms_abv_webservice" type='text' value='<%= document.wxs_identifier %>' readonly='readonly' class="form-control" data-action="copyToClipboard" data-clipboard-value='<%= document.wxs_identifier %>'>
    <div class="input-group-append">
      <button button type="button" class="btn btn-primary"  data-action="copyToClipboard" data-clipboard-value='<%= document.wxs_identifier %>'><%= t('blacklight.modal.copy') %></button>
    </div>
  </div>
</div>
