<%= render Blacklight::System::ModalComponent.new do |component| %>
  <div data-controller="clipboard">
    <div class="modal-header">
      <h1 class="modal-title"><%= t('geoblacklight.download.hgl_request') %></h1>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" role="form" id="hglRequest">
        <p><%= t('geoblacklight.download.hgl_instructions')%></p>
        <div class="mb-3">
          <div class="row">
            <label for="requestEmail" class="col-sm-2 control-label"><%= t('geoblacklight.download.hgl_email')%></label>
            <div class="col-sm-6">
              <input class="form-control" type="email" id="requestEmail" />
            </div>
            <input type="hidden" id="requestUrl"
              value="<%= download_hgl_path(id: @document) %>" />
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary"><%= t('geoblacklight.download.hgl_request_button')%></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bl-dismiss="modal"><%= t('blacklight.modal.close') %></button>
    </div>
  </div>
<% end %>