<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
  </button>
 <%= content_tag :h4, t('geoblacklight.download.hgl_request'), class: 'text-center' %>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" id="hglRequest">
    <p><%= t('geoblacklight.download.hgl_instructions')%></p>
    <div class="form-group">
      <label for="requestEmail" class="col-sm-2 control-label"><%= t('geoblacklight.download.hgl_email')%></label>
      <div class="col-sm-6">
        <input class="form-control" type="email" id="requestEmail" />
      </div>
      <input type="hidden" id="requestUrl"
        value="<%= download_hgl_path(id: @document) %>" />
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary"><%= t('geoblacklight.download.hgl_request_button')%></button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('geoblacklight.download.hgl_close')%></button>
</div>
