<nav class="navbar navbar-expand-md navbar-dark bg-dark topbar" role="navigation">
  <div class="<%= container_classes %>">
    <%= link_to application_name, root_path, class: 'mb-0 navbar-logo' %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>
<%- renderable_fields = blacklight_config.search_fields.values.collect { |field_def| [label_for_search_field(field_def.key), field_def.key] if should_render_field?(field_def)}.compact %>
<% if controller_name == 'catalog' && (has_search_parameters? || params[:action] == 'show') %>
  <div class="navbar-search navbar navbar-light bg-faded" role="navigation">
    <div class="<%= container_classes %> stuff">
      <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
          url: search_action_url,
          advanced_search_url: search_action_url(action: 'advanced_search'),
          search_fields: renderable_fields,
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(action: :suggest)))  %>
    </div>
  </div>
<% else %>
  <div class='geobl-homepage-masthead jumbotron'>
    <div class='d-flex justify-content-center'>
      <%= content_tag :h2, t('geoblacklight.home.headline'), class: 'text-center' %>
    </div>
    <div class='d-flex justify-content-center'>
      <%= content_tag :h3, t('geoblacklight.home.search_heading'), class: 'text-center' %>
    </div>
    <div class='row justify-content-md-center'>
      <div class='col-md-6 col-sm-12'>
        <div class='navbar-search'>
          <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
          url: search_action_url,
          advanced_search_url: search_action_url(action: 'advanced_search'),
          search_fields: renderable_fields,
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(action: :suggest))) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
