<%= render Blacklight::System::ModalComponent.new do |component| %>
  <div data-controller="clipboard">
    <div class="modal-header">
      <h1><%= t('blacklight.tools.citation') %></h1>
    </div>
    <div class="modal-body">
      <div class="alert alert-info d-none" data-clipboard-target="alert" role="alert">
        <%= t('geoblacklight.clipboard.citation') %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        <%= t('blacklight.tools.citation_info') %>
        <div class="d-inline" data-clipboard-target="citation">
          <%= render Geoblacklight::CitationComponent.with_collection(@documents) if @documents %>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-action="clipboard#copyToClipboard"><%= t('blacklight.modal.copy-citation') %></button>
      <button type="button" class="btn btn-secondary" data-bl-dismiss="modal"><%= t('blacklight.modal.close') %></button>
    </div>
  </div>
<% end %>