<div class='jumbotron'>
  <div class='home-search-area'>
    <%= content_tag :h2, t('geoblacklight.home.headline') %>
    <%= content_tag :h3, t('geoblacklight.home.search_heading') %>
    <div class='col-md-6 col-md-offset-3'>
      <%= render_search_form_no_navbar %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <%= content_tag :h3, t('geoblacklight.home.category_heading'), class: 'text-center' %>
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-home'></span>
        </div>
        <h4>Institution</h4>
        <%= render_facet_tags [Settings.FIELDS.PROVENANCE] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-download'></span>
        </div>
        <h4>Data type</h4>
        <%= render_facet_tags [Settings.FIELDS.GEOM_TYPE] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-globe'></span>
        </div>
        <h4>Placename</h4>
        <%= render_facet_tags [Settings.FIELDS.SPATIAL_COVERAGE] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-tags'></span>
        </div>
        <h4>Subject</h4>
        <%= render_facet_tags [Settings.FIELDS.SUBJECT] %>
      </div>
    </div>
    <div class='col-md-6 text-center'>
      <%= content_tag :h3, t('geoblacklight.home.map_heading') %>
      <%= content_tag :div, '', id: 'map', data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>
    </div>
  </div>
</div>