 <% # header bar for doc items in index view -%>
<div data-layer="<%= document['uuid'] %>" class="documentHeader row">

<%# main title container for doc partial view 
    How many bootstrap columns need to be reserved
    for bookmarks control depends on size. 
-%>
 <h5 class="index_title col-sm-9 col-lg-10 text-span">
 <% counter = document_counter_with_offset(document_counter) %>
 <span class="document-counter">
 <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
 </span>
 <%= link_to_document document, :label=>document_show_link_field(document), :counter => counter, :title => document['dc_title_s'] %>
 &nbsp;
 <%= layer_type_image(document['layer_geom_type_s']) %>
 <%= layer_institution_image(document['dct_provenance_s']) %>
 <%= layer_access_image(document['dc_rights_s']) %>
</h5>

<% # bookmark functions for items/docs -%>
<!-- <%= render_index_doc_actions document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2" %> -->

<div class="row" data-layer="<%= document['uuid'] %>">
  <div class="col-md-12">
    <div class="" data-layer="<%= document['uuid'] %>-accordion">
      <div data-layer="<%= document['uuid'] %>-collapse" class="panel-collapse collapse">
        <div class="">
          <small>
            <ul class="list-unstyled">
              <li>
                <%= document['solr_year_i'] %>. <i><%= document['dc_creator_sm'].nil?? '' : document['dc_creator_sm'].join(', ') %></i>. <%= snippit(document['dc_description_s']) %>. <%= document['dc_publisher_s'] %>. Score: <%= document['score'] %>
              </li>
            </ul>
          </small>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<script>
  $.fn.geoBlacklight_computeBbox(<%= document_counter %>);
  $("*[data-layer=\"<%= document['uuid']%>\"]").click(function(){
    $("*[data-layer=\"<%= document['uuid']%>-collapse\"]").collapse("toggle")
  });
  
  $("*[data-layer=\"<%= document['uuid']%>\"]").mouseover(function(){
    if (bBoxs[<%= document_counter %>]){
      // console.log(bBoxs[<%= document_counter %>]);
      $.fn.geoBlacklight_addBbox(bBoxs[<%= document_counter %>]);
    }
  });
  
  $("*[data-layer=\"<%= document['uuid']%>\"]").mouseout(function(){
    $.fn.geoBlacklight_removeBbox(bBoxs[<%= document_counter %>]);
  });
</script>
</div>

