<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader row', data: { layer_id: document[:uuid], bbox: document[:solr_bbox], geom: document[:solr_geom] } do %>
  <div class='status-icons'>
    <%= layer_type_image(document['layer_geom_type_s']) %>
    <%= layer_institution_image(document['dct_provenance_s']) %>
    <%= layer_access_image(document['dc_rights_s']) %>
  </div>
  <h5 class="index_title col-sm-9s cosl-lg-10 text-span">
    <% counter = document_counter_with_offset(document_counter) %>
    <span class="document-counter">
      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
    </span>
    <%= link_to_document document, :label=>document_show_link_field(document), :counter => counter, :title => document['dc_title_s'] %>
  </h5>

  <div class='col-md-12 more-info-area'>
    <div class='collapse' data-collapse-target="<%= document['uuid'] %>">
      <small>
        <%= document['solr_year_i'] %>. <i><%= document['dc_creator_sm'].nil?? '' : document['dc_creator_sm'].join(', ') %></i>. <%= snippit(document['dc_description_s']) %>. <%= document['dc_publisher_s'] %>.
      </small>
    </div>
  </div>
<% end %>

