<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader index-split row', data: { layer_id: document.id, bbox: document.bounding_box_as_wsen } do %>
  <h3 class="index_title col">
    <% counter = document_counter_with_offset(document_counter) %>
    <span class="document-counter">
      <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
    </span>
    <%= link_to_document document, counter: counter %>
  </h3>
  <span class='status-icons'>
    <%= render partial: 'header_icons', locals: { document: document } %>

    <button
      class="caret-toggle btn"
      data-toggle="collapse"
      data-target="#doc-<%= document.id %>-fields-collapse"
      aria-label="<%= t('geoblacklight.metadata.toggle_summary') %>"
      aria-expanded="false"
      aria-controls="doc-<%= document.id %>-fields-collapse">
    </button>
  </span>
<% end %>

<div class='more-info-area'>
  <div id="doc-<%= document.id %>-fields-collapse" class='collapse'>
    <small>
      <%= geoblacklight_present(:index_fields_display, document) %>
    </small>
  </div>
</div>
