<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div id='geoblacklight-tools'>
  <div class="panel panel-default show-tools">
    <div class="panel-heading"> 
      Tools
    </div>
    <div class="panel-body">
    <ul class="list-group">
      <div class="list-group-item"><%= render_show_doc_actions @document %></div>
      <% if @document.respond_to?( :to_email_text ) %>
        <%= link_to email_helper, email_catalog_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}, :class => 'list-group-item'} %>
      <%- end -%>
      <%- if @document.respond_to?( :to_sms_text ) -%>
        <%= link_to sms_helper, sms_catalog_path(:id => @document), {:id => 'smsLink', :data => {:ajax_modal => "trigger"}, :class => 'list-group-item'} %>
      <%- end -%>
      <a href="#" data-no-turbolink class="list-group-item">
        <i class="fa fa-bookmark fa-fw"></i>&nbsp;Cite This
      </a>    
    </ul>
    <ul class="list-group">
    <a id="download-metadata" data-no-turbolink class="list-group-item"
      <% if @document['dct_provenance_s'] == 'Stanford' %>
      href="<%= @document['dc_identifier_s'] %>.mods"
      <% else %>
      href="#" 
      <% end %>
      >
      <i class="fa fa-download fa-fw" id="icon-metadata"></i>&nbsp;Metadata
    </a>
    <% if @document['dc_rights_s'] == 'Restricted' and @document['dct_provenance_s'] != 'Stanford' %>
      <a href="#" data-no-turbolink class="list-group-item">
        <i class="fa fa-download fa-fw" id="icon-request"></i>&nbsp;Request This
      </a><br/>
    <% else %>
      <a href="#" id="download-kml" data-no-turbolink class="list-group-item">
        <i class="fa fa-download fa-fw" id="icon-kml"></i>&nbsp;KML
      </a>
      <% if @document['dc_format_s'] == 'Shapefile' %>
        <a href="#" id="download-shapefile" data-no-turbolink class="list-group-item">
          <i class="fa fa-download fa-fw" id="icon-shapefile"></i>&nbsp;Shapefile
        </a>
      <% end %>
    <% end %>
 
    </ul>
    <% unless @document['dc_rights_s'] == 'Restricted' and @document['dct_provenance_s'] != 'Stanford' %>
  
    <ul class="list-group">
      <a href="<%= @document['solr_wms_url'] %>?request=GetCapabilities" data-no-turbolink class="list-group-item">
        <i class="fa fa-link fa-fw"></i>&nbsp;WMS Link
      </a>
      <% if @document['layer_geom_type_s'] == 'Raster' %>
        <a href="<%= @document['solr_wcs_url'] %>?request=GetCapabilities" data-no-turbolink class="list-group-item">
          <i class="fa fa-link fa-fw"></i>&nbsp;WCS Link
        </a>
        <% else %>
      <a href="<%= @document['solr_wfs_url'] %>?request=GetCapabilities" data-no-turbolink class="list-group-item">
        <i class="fa fa-link fa-fw"></i>&nbsp;WFS Link
      </a>
      <% end %>
    </ul>
    <% end %>
    </div>
  </div>
</div>
