<% document ||= @document %>

<div id='geoblacklight-tools'>
  <div class="panel panel-default show-tools">
    <div class="panel-heading"> 
      Tools
    </div>
    <div class="panel-body">
    <ul class="list-group">
      <%= render_show_doc_actions @document, wrapping_class: 'list-group-item' %>
      <% if @document.respond_to?( :to_email_text ) %>
        <%= link_to email_helper, email_catalog_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}, :class => 'list-group-item'} %>
      <%- end -%>
      <%- if @document.respond_to?( :to_sms_text ) -%>
        <%= link_to sms_helper, sms_catalog_path(:id => @document), {:id => 'smsLink', :data => {:ajax_modal => "trigger"}, :class => 'list-group-item'} %>
      <%- end -%>
      <a href="#" data-no-turbolink class="list-group-item">
        <i class="fa fa-bookmark fa-fw"></i>&nbsp;Cite This
      </a>    
    </ul>
    <% if document.downloadable? %>
      <div class='btn-group'>
        <%= button_tag(type: 'button', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' }) do %>
          Download <span class='caret'></span>
        <% end %>
        <ul class="dropdown-menu" role="menu">
          <% document.download_types.each do |type| %>
            <%= content_tag(:li) do %>
              <%= link_to(type[:label], '', data: { download_path: "#{download_path(document[:layer_slug_s], type: type[:type])}" }) %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
