<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div id='geoblacklight-tools'>
  <div class="panel panel-default show-tools">
    <div class="panel-heading"> 
      Tools
    </div>
    <div class="panel-body">
    <ul class="list-group">
    <%= render_show_doc_actions @document %>
      <!-- <a href="#" data-no-turbolink class="list-group-item disabled">
        <i class="fa fa-li fa-star-o"></i> Bookmark
      </a> -->
      <% if @document.respond_to?( :to_email_text ) %>
        <%= link_to email_helper, email_catalog_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}, :class => 'list-group-item'} %>
      <%- end -%>
      <%- if @document.respond_to?( :to_sms_text ) -%>
        <%= link_to sms_helper, sms_catalog_path(:id => @document), {:id => 'smsLink', :data => {:ajax_modal => "trigger"}, :class => 'list-group-item'} %>
      <%- end -%>
      <a href="#" data-no-turbolink class="list-group-item">
        <i class="fa fa-li fa-bookmark"></i>Cite This
      </a>
    </ul>
    <ul class="list-group">
    <a id="download-metadata" data-no-turbolink class="list-group-item"
      <% if @document['dct_provenance_s'] == 'Stanford' %>
      href="<%= @document['dc_identifier_s'] %>.mods"
      <% else %>
      href="#" 
      <% end %>
      >
      <i class="fa fa-li fa-download" id="icon-metadata"></i>Metadata
    </a>
    <% if @document['dc_rights_s'] == 'Restricted' and @document['dct_provenance_s'] != 'Stanford' %>
      <a href="#" data-no-turbolink class="list-group-item">
        <i class="fa fa-li fa-download" id="icon-request"></i>Request This
      </a><br/>
    
    <% else %>
    <a href="#" id="download-kml" data-no-turbolink class="list-group-item">
      <i class="fa fa-li fa-download" id="icon-kml"></i>KML
    </a>
    <a href="#" id="download-shapefile" data-no-turbolink class="list-group-item">
      <i class="fa fa-li fa-download" id="icon-shapefile"></i><%= @document['dc_format_s'] %>
    </a>
    <% end %>
 
    </ul>
    <% unless @document['dc_rights_s'] == 'Restricted' and @document['dct_provenance_s'] != 'Stanford' %>
  
    <ul class="list-group">
      <a href="<%= 'XXX' %>?request=GetCapabilities" data-no-turbolink class="list-group-item">
        <i class="fa fa-li fa-link"></i>WMS Link
      </a>
      <% if @document['layer_geom_type_s'] == 'Raster' %>
        <a href="<%= 'XXX' %>?request=GetCapabilities" data-no-turbolink class="list-group-item">
          <i class="fa fa-li fa-link"></i>WCS Link
        </a>
        <% else %>
      <a href="<%= 'XXX' %>?request=GetCapabilities" data-no-turbolink class="list-group-item">
        <i class="fa fa-li fa-link"></i>WFS Link
      </a>
      <% end %>
    </ul>
    <% end %>
    </div>
  </div>
</div>
