<%= render :partial => 'show_sidebar_static_map' if render_sidebar_map?(@document) %>
<%= render :partial => 'show_tools' %>

<div class="sidebar-buttons">
<%= render :partial => "show_web_services" %>
<%= render(Geoblacklight::DownloadLinksComponent.new(document:, downloadable: document_downloadable?)) %>
<%= render(Geoblacklight::LoginLinkComponent.new(document:)) %>
</div>

<% unless @document.more_like_this.empty? %>
  <div class="card">
    <div class="card-header">More Like This</div>
    <div class="card-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>
