<% document ||= @document %>

<div id='geoblacklight-tools'>
  <div class="panel panel-default show-tools">
    <div class="panel-heading"> 
      Tools
    </div>
    <div class="panel-body">
    <ul class="list-group">
      <%= render_show_doc_actions @document, wrapping_class: 'list-group-item' %>
      <% if @document.respond_to?( :to_email_text ) %>
        <%= link_to email_helper, email_catalog_path(:id => @document), {:id => 'emailLink', :data => {:ajax_modal => "trigger"}, :class => 'list-group-item'} %>
      <%- end -%>
      <%- if @document.respond_to?( :to_sms_text ) -%>
        <%= link_to sms_helper, sms_catalog_path(:id => @document), {:id => 'smsLink', :data => {:ajax_modal => "trigger"}, :class => 'list-group-item'} %>
      <%- end -%>
      <a href="#" data-no-turbolink class="list-group-item">
        <i class="fa fa-bookmark fa-fw"></i>&nbsp;Cite This
      </a>    
    </ul>
    <% if document_downloadable? %>
      <% unless document.direct_download.blank? %>
        <div class='download-element'>
          <%= link_to('Download file', document.direct_download[:download], class: 'btn btn-primary') %>
        </div>
      <% end %>
      <div class='btn-group download-element'>
        <%= button_tag(type: 'button', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' }) do %>
          Download as <span class='caret'></span>
        <% end %>
        <ul class="dropdown-menu" role="menu">
          <% document.download_types.each do |type| %>
            <%= content_tag(:li) do %>
              <% link_to(type[0], '', data: { download_path: "#{download_path(document[:layer_slug_s], type: type[0])}" }) %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% elsif document.restricted? && document.same_institution? %>
      <%= link_to t('geoblacklight.tools.login_to_view'), new_user_session_path(referrer: request.original_url) %>
    <% end %>
  </div>
</div>
