<% document ||= @document %>
<div class="geoblacklight-view-panel">

  <dl class="dl-horizontal">
    <% unless document['dct_provenance_s'].nil? %>
      <dt>Institution</dt>
      <dd><%= document['dct_provenance_s'] %></dd>
    <% end %>      
    <% unless document['dc_creator_sm'].nil? %>
      <dt>Author</dt>
      <dd itemprop="author"><%= document['dc_creator_sm'].join(', ') %>&nbsp;</dd>
    <% end %>
    <% unless document['dc_publisher_s'].nil? %>
      <dt>Publisher</dt>
      <dd itemprop="publisher"><%= document['dc_publisher_s'] %>&nbsp;</dd>
    <% end %>
    <%= render 'abstract_metadata' %>
    <% unless document['dct_isPartOf_sm'].nil? %>
      <dt>Collection</dt>
      <dd itemprop="isPartOf"><%= document['dct_isPartOf_sm'].sort.uniq.join(', ') %>&nbsp;</dd>
    <% end %>
    <% unless document['dct_spatial_sm'].nil? %>
      <dt>Places</dt>
      <dd itemprop="spatial"><%= render_facet_links('dct_spatial_sm', document['dct_spatial_sm']) %>&nbsp;</dd>
    <% end %>
    <% unless document['dc_subject_sm'].nil? %>
      <dt>Subjects</dt>
      <dd itemprop="keywords"><%= render_facet_links('dc_subject_sm', document['dc_subject_sm']) %>&nbsp;</dd>
    <% end %>
    <% unless document['dct_temporal_sm'].nil? %>
      <dt>Years</dt>
      <dd itemprop="temporal"><%= document['dct_temporal_sm'].sort.uniq.join(', ') %>&nbsp;</dd>
    <% end %>
    <% if !@document.references.nil? && !@document.references.url.nil? %>
       <dt>More details at</dt>
       <dd itemprop="url"><%= link_to @document.references.url.endpoint %></dd>
    <% end %>
  </dl>
</div>