<% document ||= @document %>
<div class="geoblacklight-view-panel">

  <dl class="dl-horizontal">
    <% unless document['dc_creator_sm'].nil? %>
      <dt>Author</dt>
      <dd itemprop="author"><%= document['dc_creator_sm'].join(', ') %>&nbsp;</dd>
  <% end %>
    <% unless document['dc_publisher_s'].nil? %>
      <dt>Publisher</dt>
      <dd itemprop="publisher"><%= document['dc_publisher_s'] %>&nbsp;</dd>
  <% end %>
    <dt>Year</dt>
    <dd itemprop="dateCreated"><%= document['solr_year_i'] %>&nbsp;</dd>
    <dt>Abstract</dt>
    <dd id="" itemprop="description"><%= abstract_truncator(document['dc_description_s']) %>&nbsp;</dd>
    <% unless document['dct_isPartOf_sm'].nil? %>
      <dt>Collection</dt>
      <dd itemprop="isPartOf"><%= document['dct_isPartOf_sm'].sort.uniq.join(', ') %>&nbsp;</dd>
    <% end %>
    <% if document['dct_provenance_s'] == 'Stanford' and not document['dc_identifier_s'].nil? %>
      <dt>Citation</dt>
      <dd itemprop="url"><%= link_to document['dc_identifier_s'], document['dc_identifier_s'] %>&nbsp;</dd>
    <% end %>
    <% unless document['dct_spatial_sm'].nil? %>
      <dt>Places</dt>
      <dd itemprop="spatial"><%= document['dct_spatial_sm'].sort.uniq.join(', ') %>&nbsp;</dd>
    <% end %>
    <% unless document['dc_subject_sm'].nil? %>
      <dt>Subjects</dt>
      <dd itemprop="keywords"><%= document['dc_subject_sm'].sort.uniq.join(', ') %>&nbsp;</dd>
    <% end %>
    <% unless document['dct_temporal_sm'].nil? %>
      <dt>Years</dt>
      <dd itemprop="temporal"><%= document['dct_temporal_sm'].sort.uniq.join(', ') %>&nbsp;</dd>
    <% end %>
  </dl>
</div>