<%= render Blacklight::System::ModalComponent.new do |component| %>
  <div data-controller="clipboard">
    <div class="modal-header">
      <h1 class="modal-title"><%= t('geoblacklight.references.services')%></h1>
      <button type="button" class="blacklight-modal-close btn-close close" data-bl-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
      </button>
    </div>
    <div class="modal-body web-services-modal-body">
      <div class="alert alert-info d-none" role="alert">
      <%= t('geoblacklight.clipboard.web_service') %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="web-services-modal-entry">
        <%= render Geoblacklight::WebServicesComponent.with_collection(@documents.first.references.refs, document: @documents.first) %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bl-dismiss="modal"><%= t('blacklight.modal.close') %></button>
    </div>
  </div>
<% end %>
