<div class="index-map-info">
  {{#if title}}
    <div class="col-sm-12">
      <h3>{{title}}</h3>
    </div>
  {{/if}}
  <div class="col-sm-12">
    {{#if thumbnailUrl}}
      {{#if websiteUrl}}
        <a href="{{websiteUrl}}">
          <img src="{{thumbnailUrl}}" class="img-responsive">
        </a>
      {{else}}
        <img src="{{thumbnailUrl}}">
      {{/if}}
    {{/if}}
    <dl class="row dl-invert document-metadata">
      {{#if websiteUrl}}
        <dt class="col-sm-3">Website:</dt>
        <dd class="col-sm-9"><a href="{{websiteUrl}}">{{websiteUrl}}</a></dd>
      {{/if}}
      {{#if downloadUrl}}
        <dt class="col-sm-3">Download:</dt>
        <dd class="col-sm-9"><a href="{{downloadUrl}}">{{downloadUrl}}</a></dd>
      {{/if}}
      {{#if recordIdentifier}}
        <dt class="col-sm-3">Record Identifier:</dt>
        <dd class="col-sm-9">{{recordIdentifier}}</dd>
      {{/if}}
      {{#if label}}
        <dt class="col-sm-3">Label:</dt>
        <dd class="col-sm-9">{{label}}</dd>
      {{/if}}
      {{#if note}}
        <dt class="col-sm-3">Note:</dt>
        <dd class="col-sm-9">{{note}}</dd>
      {{/if}}
    </dl>
  </div>
</div>
