<%= render_static_map_component %>
<%= render_show_tools %>

<div class="sidebar-buttons">
  <% sidebar_buttons.each do | sidebar_button |  %>
    <%= render sidebar_button %>
  <% end %>
</div>

<%= render_more_like_this %>

<%= render "relations_container", document: document %>
